@model WishListVM

@if (Model.Products.Count > 0)
{
    <a class="action_icon" id="wishlist-button">
        <i class="icon-heart1"></i>
        <span>@Model.Count</span>
    </a>
    <!-- WishList Start -->
    <div id="wishlist">
        <div class="list-wrapper @(Model.IsAddBtn?"":"canvas-opening")">
            <div class="list-header">
                <h3>Wishlist</h3>
                <button class="canvas-close">
                </button>
            </div>
            <div class="list-items">
                <ul>
                    @foreach (var item in Model.Products)
                    {
                        <li>
                            <div class="row">
                                <div class="col-4">
                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item?.Id" class="img">
                                        <img src="~/uploads/products/@item?.GetPosterImage()" alt="@item?.Name">
                                    </a>
                                </div>
                                <div class="col-8">
                                    <div class="content">
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item?.Id" class="title">@item?.Name</a>
                                        <span class="quantity-price">
                                            @if (item?.DiscountPercent == null)
                                            {
                                                <span class="amount">
                                                    $@item?.Price.ToString("#.00")
                                                </span>
                                            }
                                            else
                                            {
                                                var discountPrice = item?.Price - item?.Price * item?.DiscountPercent / 100;
                                                <span class="amount">
                                                    $@discountPrice?.ToString("#.00")
                                                </span>
                                            }
                                        </span>
                                        <a asp-controller="shop" asp-action="deletefromwishlist" asp-route-id="@item?.Id" class="remove-from-wishList">×</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="list-view">
                <a asp-controller="account" asp-action="wishlist">view wishlist</a>
            </div>
        </div>
    </div>
    <!-- WishList End -->
}
else
{
    <a class="action_icon" id="wishlist-button">
        <i class="icon-heart1"></i>
    </a>
    <!-- WishList Start -->
    <div id="wishlist">
        <div class="list-wrapper @(Model.IsAddBtn?"":"canvas-opening")">
            <div class="list-header">
                <h3>Wishlist</h3>
                <button class="canvas-close">
                </button>
            </div>
            <div class="list-items">
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <span style="display:block;font-size: 20px;color: #266bf9;text-align: center;padding: 5px 10px;border: 2px solid #266bf99c;border-radius: 5px;box-shadow: inset 0px 0px 9px #266bf9;">
                                        WishList is empty ...('^_^)...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- WishList End -->
}